
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron contenido ">

    <center><h2> Bienvenido a la administración de Recursos Humanos </h2></center>

</div>


